:host {
  display: block;
  padding: 20px;
}
app-code-viewer div button {
  margin-bottom: 1em;
}
.preview {
  background-color: white;
  padding: 20px;
}
.shimmerContent {
  width: 400px;
  height: 60px;
}
