<h1>API reference for Shimmer</h1>

<pre>
  <code highlight="import {{ '{' }} AnutilsDirectivesModule  {{ '}' }} from 'anutils/directives';"></code>
</pre>

<blockquote>
  <em>NOTE:</em> You have to import anutilsCss in your styles.scss. See more on <a href="https://github.com/robertobdev/anutils#readme" target="_blank">README.md</a>
</blockquote>

<app-code-viewer [codeViewers]="codeViewers">
  <div preview class="preview">
    <button mat-raised-button color="primary" (click)="handleFlag()">
      Enable/Disable shimmer
    </button>
    <div
      [anutilsShimmer]="flag"
      [anutilsShimmerInfo]="shimmerInfo"
      class="shimmerContent"
    >
      Shimmer test!
    </div>
  </div>
</app-code-viewer>
