<h1>API reference for match passwords validator</h1>

<pre>
  <code highlight="/* Module
  none */"></code>
</pre>
<app-code-viewer [codeViewers]="codeViewers">
  <div preview>
    <form [formGroup]="form">
      <h3>Input password and confirm password with match validator</h3>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="this.form.get('password')?.invalid"
          >{{ this.form.get('password')?.errors?.message }}</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input matInput formControlName="confirmPassword" type="password" />
        <mat-error *ngIf="this.form.get('confirmPassword')?.invalid"
          >{{ this.form.get('confirmPassword')?.errors?.message }}</mat-error
        >
      </mat-form-field>
    </form>
  </div>
</app-code-viewer>
